.App{
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
  min-height: 88vh;
}

.container{
  margin-bottom: 50px;
}

/* Not using at the moment */
/* .App-title{
  margin-top: 1rem;
  color: rgba(28, 29, 28, 0.801);
  margin-bottom: 0;
  font-weight: 100;
  display: inline-block;
  font-size: 5rem;
  width: 50%;
} */

.App-subtitle{
  color: rgba(0, 0, 0, 0.801);
  margin-bottom: 1rem;
  font-weight: 300;
  display: inline-block;
  font-size: 2rem;
}


/* For the Home component */
.logo{
  margin-top: 1rem;
  color: rgba(82, 197, 107, 0.801);
  margin-bottom: 0;
  font-weight: 100;
  display: inline-block;
  font-size: 5rem;
}

.welcome-to{
  font-weight: 20;
}

.jumbo{
  background-color: rgb(255, 255, 255);
  margin-top: 30px;
  border-radius: 50px;
}

.subtitle{
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: large;
  font-weight: 600;
}

.welcome-list {
  margin-bottom: 40px;
}

.welcome-list-icon{
  font-size: 25px;
  margin-right: 8px;
}

.welcome-list-text{
  margin-bottom: 20px;
}

.home-buttons{
  margin-top: 0px;
  margin-bottom: 30px;
}

.btn-login{
  padding: 7px 65px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  color: rgba(13, 97, 72, 0.842);
  border-color: rgb(7, 7, 7);
}

.btn-login:hover{
  background-color: rgba(180, 255, 215, 0.5);
  color: rgba(0, 0, 0, 0.842);
}

.btn-signup{
  padding: 7px 65px;
  border-radius: 20px;
  background-color: rgba(13, 97, 72, 0.842);
  color: rgb(255, 255, 255);
}

.btn-signup:hover{
  background-color: rgba(7, 121, 86, 0.767);
  color:  rgb(0, 0, 0);
}

/* For the Login Page */
.login-label{
  background-color: rgba(137, 177, 157, 0.801);
  padding-top: 10px;
  padding-bottom: 15px;
  border-radius: 20px;
  border-width: medium;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 25px;
  font-weight: 10;
}

.login-form{
  width: 90%;
  margin: 0 auto;
  text-align: center;
  border-radius: 20px
}


/* For the Budget component */
.budget-instructions-list{
  margin-top: 10px;
  font-size: 20px;
}

ol.budget-list-text {
  list-style: none;
  counter-reset: item;
  align-items: left;
}

li.budget-list-text{
  list-style-position: inside;
  counter-increment: item;
  margin-top: 15px;
}

li.budget-list-text:before {
  margin-right: 10px;
  content: counter(item);
  border-radius: 100%;
  color: white;
  width: 1.6em;
  text-align: center;
  display: inline-block;
}

li.income:before{
  background: rgba(34, 133, 42, 0.698);
}

li.expenses:before{
  background: rgba(149, 57, 57, 0.63);
}

li.save:before{
  background: rgba(0, 195, 255, 0.445);
}



/* For the Box component */
.card{
  margin: 0 auto;
  float: none; 
  margin-bottom: 30px; 
  border-radius: 40px;
  overflow: hidden;
}

.card-header-income{
  background-color: rgba(34, 133, 42, 0.698);
}

.card-header-expenses{
  background-color: rgba(149, 57, 57, 0.63);
}

.card-footer-income{
  background-color: rgba(0, 128, 0, 0.164);
}

.card-footer-expenses{
  background-color: rgba(255, 0, 0, 0.171);
}

.btn-link-heading{
  color: rgba(0, 0, 0, 0.801);
  font-weight: 175;
  font-size: 2rem;
  text-decoration: underline;
  padding: 10px;
}


/* For the Form component */
.label-title{
  font-size: 1.1rem;
  font-weight: bold;
  vertical-align: middle
}

.label-description{
  font-size: .8rem;
  font-style: oblique;
}

.category-title-income{
  background-color: rgba(62, 172, 62, 0.26);
  color: rgba(0, 0, 0, 0.801);
  font-weight: 175;
  font-size: 1.3rem;
}

.category-title-expenses{
  background-color: rgba(149, 57, 57, 0.26);
  color: rgba(0, 0, 0, 0.801);
  font-weight: 175;
  font-size: 1.3rem;
}

.input-group{
  margin-top: 12px;
}

.subtotal{
  margin-top: 13px;
}


/* For the summary component */
.card-header-summary{
  color: rgba(0, 0, 0, 0.801);
  font-weight: 175;
  font-size: 2rem;
  background-color: rgba(0, 195, 255, 0.445);
}

.card-body-summary{
  background-color: rgba(0, 195, 255, 0.13);;
}

/* For the NewField component */
.btn{
  margin: 5px;
}


/* Fot the Footer component */
.footer-nav{
  position: relative;
  bottom: 0;
  width: 100%;
  min-height: 6vh;

  padding-top: 13px;
  padding-bottom: 13px;
  color: rgba(255,255,255,.5);
}

.spacing-navbar-nav{
  padding-left: 10px;
  padding-right: 10px;
}

.footer-nav-link:hover a{
  color: #419bfb;;
}
