.App {
  text-align: center;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
}

.App-title {
  margin-top: 1rem;
  color: rgba(82, 197, 107, 0.801);
  margin-bottom: 0;
  font-weight: 100;
  display: inline-block;
  font-size: 5rem;
  width: 50%;
}

.App-subtitle {
  color: rgba(24, 36, 26, 0.801);
  margin-bottom: 1rem;
  font-weight: 100;
  display: inline-block;
  font-size: 2rem;

}