.label-title{
  font-size: 1.1rem;
  font-weight: bold;
  vertical-align: middle
}

.label-description{
  font-size: .8rem;
  font-style: oblique;
}

.category-title-income{
  background-color: rgba(62, 172, 62, 0.26);
  color: rgba(0, 0, 0, 0.801);
  font-weight: 175;
  font-size: 1.3rem;
}

.category-title-expenses{
  background-color: rgba(149, 57, 57, 0.26);
  color: rgba(0, 0, 0, 0.801);
  font-weight: 175;
  font-size: 1.3rem;
}

.input-group{
  margin-top: 12px;
}

.subtotal{
  margin-top: 13px;
}
